---
import '../../../styles/global.scss';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecuaciones | Apuntes | Clases</title>
  </head>
  <body>
    <header>
      <h1>Ecuaciones</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/apuntes/ecuaciones/segundo_grado">Segundo Grado</a></li>
      </ul>
    </nav>
    <footer>
      <a href="/apuntes">← Apuntes</a>
    </footer>
  </body>
</html>
