---
import '../../../styles/global.scss';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2ºESO | Exámenes | Clases</title>
  </head>
  <body>
    <header>
      <h1>2ºESO</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/examenes/2eso/algebra">Álgebra</a></li>
      </ul>
    </nav>
    <footer>
      <a href="/examenes">← Exámenes</a>
    </footer>
  </body>
</html>
